
@font-face{
  font-family : "donjon";
  src:url("donjon_0.ttf");
}

html {
  font-size : calc(100vh / 40);
}

body, body *{
  margin : 0;
  padding : 0;
  font-family : "donjon", monospace;
  font-size : 1rem;
  line-height : 1rem !important;
  box-sizing : border-box;
  font-weight : normal;
  overflow : hidden;
}

body{
  background-color : #000;
  color : #ccc;
}

#wrapper {
  width : calc(40 * 1rem);
  margin : auto;
}

.col {
  display : inline-block;
  vertical-align : top;
}
